*{
    background-image: linear-gradient(#ECE9E6,#FFFFFF);
    background-repeat: repeat;
}

body{
    margin: 0;
    padding:0;
    font-family:monospace;
   
}
#title{
    text-align: center;
    color:rgb(201, 72, 72);
    font-size: 58px;
    background: none;
}

#brain {
    background: none;
}



.game{
    display:grid;
    margin:40px auto;
    grid-template-columns: repeat(4,120px);
    grid-row-gap:2em;
    align-items: center;
    justify-content: center;
}
#gameBoard div{
    height: 150px;
    width:80px;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:45px;
   color: rgb(225, 47, 47);
    border-radius: 10px;

}

.cardBack{
    background-color: #e5e5f7;
    opacity:0.8;
    background-image: linear-gradient(135deg,#c21500,#ffc500);
    background-position: 10px 0, 10px 0,0 0,0 0;
    background-size: 10px 10px;
    background-repeat: repeat;

}
.won{
    font-size:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:peru;
    text-transform: capitalize;
    background: none;
}

#gameBoad div:hover{
    cursor: pointer;
}